In [1]:
import pandas as pd
import numpy as np
import os

In [5]:
#make dataframes of csv's obtained from the Bureau of Transportation Statistics 
cwd = os.getcwd()
nov = pd.read_csv(cwd + '/records/Nov.csv')
dec = pd.read_csv(cwd + '/records/Dec.csv')
jan = pd.read_csv(cwd + '/records/Jan.csv')
feb = pd.read_csv(cwd + '/records/Feb.csv')
march = pd.read_csv(cwd + '/records/March.csv')
april = pd.read_csv(cwd + '/records/April.csv')
may = pd.read_csv(cwd + '/records/May.csv')
june = pd.read_csv(cwd + '/records/June.csv')
july = pd.read_csv(cwd + '/records/July.csv')
aug = pd.read_csv(cwd + '/records/Aug.csv')
sept = pd.read_csv(cwd + '/records/Sept.csv')
octo = pd.read_csv(cwd + '/records/Oct.csv')

/Users/arihorwitz/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (21,38) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/arihorwitz/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (38) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/arihorwitz/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (37,38) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
#combine each month 
year = nov.append([dec,jan,feb,march,april,may,june,july,aug,sept,octo])

In [ ]:
total_flights = len(year)

In [9]:
year.describe()

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_CARRIER_FL_NUM,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,DEP_DEL15,CRS_ARR_TIME,...,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,TOTAL_ADD_GTIME,DIV_AIRPORT_LANDINGS,DIV_REACHED_DEST,DIV_ACTUAL_ELAPSED_TIME,DIV_DISTANCE,Unnamed: 39
count,6.951793e+06,6.951793e+06,6.951793e+06,6.951793e+06,6.951793e+06,6.951793e+06,6.845499e+06,6.840579e+06,6.840579e+06,6.951793e+06,...,1.268851e+06,1.268851e+06,1.268851e+06,1.268851e+06,44913.000000,6.951792e+06,16893.000000,14439.000000,16889.000000,0.0
mean,2.017868e+03,6.378930e+00,1.576328e+01,3.931192e+00,2.555310e+03,1.330185e+03,1.333969e+03,9.718343e+00,1.808359e-01,1.485373e+03,...,3.657124e+00,1.583854e+01,1.049044e-01,2.563094e+01,39.130207,3.336837e-03,0.854733,382.816746,38.220972,NaN
std,3.386050e-01,3.317581e+00,8.766044e+00,1.988954e+00,1.860811e+03,4.917453e+02,5.052375e+02,4.440901e+01,3.848822e-01,5.199706e+02,...,2.981101e+01,3.611418e+01,3.589745e+00,4.969255e+01,34.870361,1.023514e-01,0.352381,200.719412,170.902424,NaN
min,2.017000e+03,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-1.140000e+02,0.000000e+00,1.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000,0.000000e+00,0.000000,0.000000,0.000000,NaN
25%,2.018000e+03,4.000000e+00,8.000000e+00,2.000000e+00,9.730000e+02,9.140000e+02,9.150000e+02,-5.000000e+00,0.000000e+00,1.100000e+03,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,17.000000,0.000000e+00,1.000000,264.000000,0.000000,NaN
50%,2.018000e+03,6.000000e+00,1.600000e+01,4.000000e+00,2.055000e+03,1.321000e+03,1.327000e+03,-2.000000e+00,0.000000e+00,1.515000e+03,...,0.000000e+00,2.000000e+00,0.000000e+00,3.000000e+00,28.000000,0.000000e+00,1.000000,331.000000,0.000000,NaN
75%,2.018000e+03,9.000000e+00,2.300000e+01,6.000000e+00,4.032000e+03,1.735000e+03,1.744000e+03,6.000000e+00,0.000000e+00,1.919000e+03,...,0.000000e+00,1.900000e+01,0.000000e+00,3.100000e+01,48.000000,0.000000e+00,1.000000,430.000000,0.000000,NaN
max,2.018000e+03,1.200000e+01,3.100000e+01,7.000000e+00,7.439000e+03,2.359000e+03,2.400000e+03,2.710000e+03,1.000000e+00,2.400000e+03,...,2.692000e+03,1.848000e+03,9.870000e+02,2.454000e+03,398.000000,9.000000e+00,1.000000,1876.000000,3365.000000,NaN

In [10]:
year.columns

Index(['YEAR', 'MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'FL_DATE',
       'OP_UNIQUE_CARRIER', 'TAIL_NUM', 'OP_CARRIER_FL_NUM', 'ORIGIN',
       'ORIGIN_CITY_NAME', 'DEST', 'DEST_CITY_NAME', 'CRS_DEP_TIME',
       'DEP_TIME', 'DEP_DELAY', 'DEP_DEL15', 'CRS_ARR_TIME', 'ARR_TIME',
       'ARR_DELAY', 'ARR_DEL15', 'CANCELLED', 'CANCELLATION_CODE', 'DIVERTED',
       'CRS_ELAPSED_TIME', 'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'DISTANCE',
       'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY',
       'LATE_AIRCRAFT_DELAY', 'TOTAL_ADD_GTIME', 'DIV_AIRPORT_LANDINGS',
       'DIV_REACHED_DEST', 'DIV_ACTUAL_ELAPSED_TIME', 'DIV_DISTANCE',
       'DIV1_AIRPORT', 'DIV2_AIRPORT', 'Unnamed: 39'],
      dtype='object')

In [15]:
year.drop(['Unnamed: 39'], axis =1, inplace = True)

In [64]:
delay = year[year['DEP_DEL15']==1]
cancel = year[year['CANCELLED'] == 1]
divert = year[year['DIVERTED'] > 0]

In [65]:
delay = delay.reindex(columns= ['YEAR', 'MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'FL_DATE','OP_UNIQUE_CARRIER', 'TAIL_NUM', 'OP_CARRIER_FL_NUM', 'ORIGIN', 'ORIGIN_CITY_NAME', 'DEST', 'DEST_CITY_NAME', 'CRS_DEP_TIME','DEP_TIME', 'DEP_DELAY','CRS_ARR_TIME', 'ARR_TIME', 'CRS_ELAPSED_TIME', 'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'DISTANCE','CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY','LATE_AIRCRAFT_DELAY', 'TOTAL_ADD_GTIME'])
cancel = cancel.reindex(columns= ['YEAR', 'MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK','FL_DATE','OP_UNIQUE_CARRIER', 'TAIL_NUM', 'OP_CARRIER_FL_NUM', 'ORIGIN','ORIGIN_CITY_NAME', 'DEST', 'DEST_CITY_NAME', 'CRS_DEP_TIME','CRS_ARR_TIME','CANCELLATION_CODE','TOTAL_ADD_GTIME'])
divert = divert.reindex(columns= ['YEAR', 'MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK','FL_DATE','OP_UNIQUE_CARRIER', 'TAIL_NUM', 'OP_CARRIER_FL_NUM', 'ORIGIN','ORIGIN_CITY_NAME', 'DEST', 'DEST_CITY_NAME', 'CRS_DEP_TIME','DEP_TIME', 'DEP_DELAY','CRS_ARR_TIME', 'ARR_TIME', 'CRS_ELAPSED_TIME', 'DISTANCE','TOTAL_ADD_GTIME', 'DIV_AIRPORT_LANDINGS','DIV_REACHED_DEST', 'DIV_ACTUAL_ELAPSED_TIME', 'DIV_DISTANCE','DIV1_AIRPORT', 'DIV2_AIRPORT'])

In [38]:
delay.describe()

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_CARRIER_FL_NUM,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,CRS_ARR_TIME,ARR_TIME,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,TOTAL_ADD_GTIME
count,1.237022e+06,1.237022e+06,1.237022e+06,1.237022e+06,1.237022e+06,1.237022e+06,1.237022e+06,1.237022e+06,1.237022e+06,1.233804e+06,1.237016e+06,1.229589e+06,1.229589e+06,1.237022e+06,982858.000000,982858.000000,982858.000000,982858.000000,982858.000000,41765.000000
mean,2.017887e+03,6.289836e+00,1.566759e+01,3.909882e+00,2.566601e+03,1.506938e+03,1.568006e+03,6.627983e+01,1.637973e+03,1.579380e+03,1.443098e+02,1.397920e+02,1.137687e+02,8.244536e+02,24.785735,4.652044,13.400819,0.129384,32.777288,39.035077
std,3.161393e-01,3.200547e+00,8.619298e+00,1.989154e+00,1.872902e+03,4.489590e+02,4.857726e+02,8.280255e+01,5.232311e+02,6.346321e+02,7.326858e+01,7.304152e+01,7.045522e+01,5.960159e+02,66.533280,33.787799,39.617097,4.069844,54.391941,33.461933
min,2.017000e+03,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.500000e+01,1.000000e+00,1.000000e+00,-9.900000e+01,1.600000e+01,8.000000e+00,3.100000e+01,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,2.018000e+03,4.000000e+00,8.000000e+00,2.000000e+00,9.890000e+02,1.155000e+03,1.233000e+03,2.400000e+01,1.330000e+03,1.254000e+03,9.000000e+01,8.600000e+01,6.200000e+01,3.830000e+02,0.000000,0.000000,0.000000,0.000000,0.000000,17.000000
50%,2.018000e+03,6.000000e+00,1.600000e+01,4.000000e+00,2.043000e+03,1.547000e+03,1.632000e+03,4.000000e+01,1.733000e+03,1.734000e+03,1.260000e+02,1.230000e+02,9.600000e+01,6.680000e+02,4.000000,0.000000,0.000000,0.000000,15.000000,29.000000
75%,2.018000e+03,9.000000e+00,2.300000e+01,5.000000e+00,4.056000e+03,1.850000e+03,1.943000e+03,7.800000e+01,2.041000e+03,2.053000e+03,1.750000e+02,1.710000e+02,1.430000e+02,1.065000e+03,24.000000,0.000000,10.000000,0.000000,42.000000,48.000000
max,2.018000e+03,1.200000e+01,3.100000e+01,7.000000e+00,7.439000e+03,2.359000e+03,2.400000e+03,2.710000e+03,2.400000e+03,2.400000e+03,7.040000e+02,7.570000e+02,6.920000e+02,4.983000e+03,2109.000000,2692.000000,1848.000000,987.000000,2454.000000,353.000000

In [40]:
cancel.describe()

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_CARRIER_FL_NUM,CRS_DEP_TIME,CRS_ARR_TIME,TOTAL_ADD_GTIME
count,110320.000000,110320.000000,110320.000000,110320.000000,110320.000000,110320.000000,110320.000000,3351.000000
mean,2017.938887,5.310306,13.703979,3.749773,3108.283602,1401.713941,1548.102348,77.810206
std,0.239539,3.215449,7.934254,1.852846,1895.176468,495.801592,527.656295,53.119874
min,2017.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,2018.000000,3.000000,7.000000,2.000000,1410.000000,957.000000,1127.000000,33.000000
50%,2018.000000,5.000000,14.000000,4.000000,3353.000000,1448.000000,1629.000000,68.000000
75%,2018.000000,8.000000,20.000000,5.000000,4836.000000,1820.000000,2001.000000,114.000000
max,2018.000000,12.000000,31.000000,7.000000,7439.000000,2359.000000,2400.000000,398.000000

In [41]:
divert.describe()

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_CARRIER_FL_NUM,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,CRS_ARR_TIME,ARR_TIME,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,TOTAL_ADD_GTIME,DIV_AIRPORT_LANDINGS,DIV_REACHED_DEST,DIV_ACTUAL_ELAPSED_TIME,DIV_DISTANCE
count,16893.000000,16893.000000,16893.000000,16893.000000,16893.000000,16893.000000,16893.00000,16873.000000,16893.000000,14439.000000,16886.000000,0.0,0.0,16893.000000,248.000000,16893.000000,16893.000000,14439.000000,16889.000000
mean,2017.907417,6.300243,15.325164,3.899781,2707.772924,1339.913159,1361.84538,26.702602,1555.742023,1493.252511,162.096234,NaN,NaN,956.410111,41.625000,1.007163,0.854733,382.816746,38.220972
std,0.289855,3.091520,8.669474,2.016850,1908.490699,463.532406,489.00550,75.854423,483.309421,683.080199,81.524754,NaN,NaN,653.861581,35.080251,0.084332,0.352381,200.719412,170.902424
min,2017.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,-30.000000,1.000000,1.000000,-60.000000,NaN,NaN,31.000000,1.000000,1.000000,0.000000,0.000000,0.000000
25%,2018.000000,4.000000,8.000000,2.000000,1069.000000,943.000000,949.00000,-4.000000,1207.000000,1125.000000,104.000000,NaN,NaN,480.000000,17.000000,1.000000,1.000000,264.000000,0.000000
50%,2018.000000,6.000000,15.000000,4.000000,2270.000000,1347.000000,1405.00000,0.000000,1629.000000,1653.000000,143.000000,NaN,NaN,793.000000,30.500000,1.000000,1.000000,331.000000,0.000000
75%,2018.000000,8.000000,22.000000,6.000000,4352.000000,1715.000000,1737.00000,26.000000,1923.000000,2039.000000,195.000000,NaN,NaN,1209.000000,54.000000,1.000000,1.000000,430.000000,0.000000
max,2018.000000,12.000000,31.000000,7.000000,7439.000000,2359.000000,2359.00000,1700.000000,2359.000000,2400.000000,690.000000,NaN,NaN,4983.000000,217.000000,2.000000,1.000000,1876.000000,3365.000000

In [39]:
print(len(delay))
print(len(cancel))
print(len(divert))

1237022
110320
16893

In [50]:
delay.isna().sum()

YEAR                         0
MONTH                        0
DAY_OF_MONTH                 0
DAY_OF_WEEK                  0
OP_UNIQUE_CARRIER            0
TAIL_NUM                     0
OP_CARRIER_FL_NUM            0
ORIGIN                       0
ORIGIN_CITY_NAME             0
DEST                         0
DEST_CITY_NAME               0
CRS_DEP_TIME                 0
DEP_TIME                     0
DEP_DELAY                    0
CRS_ARR_TIME                 0
ARR_TIME                  3218
CRS_ELAPSED_TIME             6
ACTUAL_ELAPSED_TIME       7433
AIR_TIME                  7433
DISTANCE                     0
CARRIER_DELAY           254164
WEATHER_DELAY           254164
NAS_DELAY               254164
SECURITY_DELAY          254164
LATE_AIRCRAFT_DELAY     254164
TOTAL_ADD_GTIME        1195257
dtype: int64

In [51]:
cancel.isna().sum()

YEAR                      0
MONTH                     0
DAY_OF_MONTH              0
DAY_OF_WEEK               0
OP_UNIQUE_CARRIER         0
TAIL_NUM              12910
OP_CARRIER_FL_NUM         0
ORIGIN                    0
ORIGIN_CITY_NAME          0
DEST                      0
DEST_CITY_NAME            0
CRS_DEP_TIME              0
CRS_ARR_TIME              0
CANCELLATION_CODE         0
TOTAL_ADD_GTIME      106969
dtype: int64

In [52]:
divert.isna().sum()

YEAR                           0
MONTH                          0
DAY_OF_MONTH                   0
DAY_OF_WEEK                    0
OP_UNIQUE_CARRIER              0
TAIL_NUM                       0
OP_CARRIER_FL_NUM              0
ORIGIN                         0
ORIGIN_CITY_NAME               0
DEST                           0
DEST_CITY_NAME                 0
CRS_DEP_TIME                   0
DEP_TIME                       0
DEP_DELAY                     20
CRS_ARR_TIME                   0
ARR_TIME                    2454
CRS_ELAPSED_TIME               7
DISTANCE                       0
TOTAL_ADD_GTIME            16645
DIV_AIRPORT_LANDINGS           0
DIV_REACHED_DEST               0
DIV_ACTUAL_ELAPSED_TIME     2454
DIV_DISTANCE                   4
DIV1_AIRPORT                   0
DIV2_AIRPORT               16772
dtype: int64

In [56]:
year['OP_UNIQUE_CARRIER'].value_counts()

WN    1347369
DL     945194
AA     909554
OO     767028
UA     615683
B6     303722
YX     264989
MQ     245812
AS     234333
OH     232630
EV     216089
9E     205728
YV     178097
NK     172771
F9     118871
HA      82904
G4      80908
VX      30111
Name: OP_UNIQUE_CARRIER, dtype: int64

In [123]:
air = [year['ORIGIN'].value_counts() > 1000]
air

[ATL     True
 ORD     True
 DFW     True
 DEN     True
 LAX     True
 CLT     True
 SFO     True
 PHX     True
 IAH     True
 LAS     True
 LGA     True
 MSP     True
 DTW     True
 BOS     True
 SEA     True
 EWR     True
 MCO     True
 JFK     True
 DCA     True
 SLC     True
 PHL     True
 BWI     True
 FLL     True
 SAN     True
 MDW     True
 MIA     True
 TPA     True
 BNA     True
 DAL     True
 STL     True
        ...
 LBL    False
 PVU    False
 HHH    False
 OTH    False
 CNY    False
 ELM    False
 PSM    False
 WYS    False
 GUC    False
 VEL    False
 SPN    False
 FLO    False
 SMX    False
 PPG    False
 PRC    False
 OGS    False
 HGR    False
 STC    False
 OGD    False
 IFP    False
 MMH    False
 ADK    False
 EAR    False
 OWB    False
 HYA    False
 DLG    False
 GST    False
 BKG    False
 AKN    False
 YNG    False
 Name: ORIGIN, Length: 355, dtype: bool]

In [113]:
len(year['DEST'].value_counts())

356

In [67]:
cancel.to_csv("cancel.csv", index=False)
divert.to_csv("divert.csv", index=False)

In [ ]:
#winter is Dec 21 - March 19
winter = delay[[delay['month'] >= 11] | [delay['month'] ]]
# spring is March 20 - June 20
spring =
# summer is June 21 - Sept 21
summer = 
# fall is Sept 22 - Dec 20
fall =

In [68]:
delay['FL_DATE'] = pd.to_datetime(delay['FL_DATE'])

In [71]:
delay.dtypes

YEAR                            int64
MONTH                           int64
DAY_OF_MONTH                    int64
DAY_OF_WEEK                     int64
FL_DATE                datetime64[ns]
OP_UNIQUE_CARRIER              object
TAIL_NUM                       object
OP_CARRIER_FL_NUM               int64
ORIGIN                         object
ORIGIN_CITY_NAME               object
DEST                           object
DEST_CITY_NAME                 object
CRS_DEP_TIME                    int64
DEP_TIME                      float64
DEP_DELAY                     float64
CRS_ARR_TIME                    int64
ARR_TIME                      float64
CRS_ELAPSED_TIME              float64
ACTUAL_ELAPSED_TIME           float64
AIR_TIME                      float64
DISTANCE                      float64
CARRIER_DELAY                 float64
WEATHER_DELAY                 float64
NAS_DELAY                     float64
SECURITY_DELAY                float64
LATE_AIRCRAFT_DELAY           float64
TOTAL_ADD_GTIME               float64
dtype: object

In [75]:
#winter is Dec 21 - March 19
start_date = '12-21-2017'
end_date = '03-19-2018'

mask = (delay['FL_DATE'] >= start_date) & (delay['FL_DATE'] <= end_date)
# 294,136
winter = delay.loc[mask]

In [76]:
# spring is March 20 - June 20
start_date = '03-20-2018'
end_date = '06-20-2018'

mask = (delay['FL_DATE'] >= start_date) & (delay['FL_DATE'] <= end_date)
# 337,250
spring = delay.loc[mask]

In [77]:
# summer is June 21 - Sept 21
start_date = '06-21-2018'
end_date = '09-21-2018'

mask = (delay['FL_DATE'] >= start_date) & (delay['FL_DATE'] <= end_date)
# 387,250
summer = delay.loc[mask]

In [87]:
# fall is Sept 22 - Dec 20
start_first = '11-01-2017'
end_first = '12-20-2017'
start_second = '09-22-2018'
end_second = '10-31-2018'

mask = (delay['FL_DATE'] >= start_first) & (delay['FL_DATE'] <= end_first)
mask2 = (delay['FL_DATE'] >= start_second) & (delay['FL_DATE'] <= end_second)
# 218836
fall = delay.loc[mask]
autumn = delay.loc[mask2]
fall = fall.append([autumn])

In [91]:
winter.to_csv("winter.csv", index=False)
spring.to_csv("spring.csv", index=False)
summer.to_csv("summer.csv", index=False)
fall.to_csv("fall.csv", index=False)

In [90]:
218386 + 387250 + 337250 + 294136

1237022

Create dict to contain total flight information

In [200]:
year_info = {}

In [201]:
#update dict to include total flights for year
year_info.update({"Total Flights" : len(year)})

In [205]:
#update dict to include total flights for each month
month = ['January Flights', 'February Flights', 'March Flights',\
         'April Flights', 'May Flights', 'June Flights', 'July Flights',\
         'August Flights', 'September Flights', 'October Flights', \
         'November Flights', 'December Flights']

month_ct = year['MONTH'].value_counts()
# freq = {month[x-1] : month_ct[x]} for x in range(1,13)


months = {}
for x in range(len(month_ct)):
    months.update({month[x]: month_ct[x +1]})
    
year_info.update({'Months': months})

In [203]:
year['FL_DATE'] = pd.to_datetime(year['FL_DATE'])
winter_start = '12-21-2017'
winter_end = '03-19-2018'
maskw = (year['FL_DATE'] >= winter_start) & (year['FL_DATE'] <= winter_end)
winter = year.loc[maskw]

spring_start = '03-20-2018'
spring_end = '06-20-2018'
masksp = (year['FL_DATE'] >= spring_start) & (year['FL_DATE'] <= spring_end)
spring = year.loc[masksp]

summer_start = '06-21-2018'
summer_end = '09-21-2018'
masksum = (year['FL_DATE'] >= summer_start) & (year['FL_DATE'] <= summer_end)
summer = year.loc[masksum]

fall_start = '11-01-2017'
fall_end = '12-20-2017'
aut_start = '09-22-2018'
aut_end = '10-31-2018'
maskf = (year['FL_DATE'] >= fall_start) & (year['FL_DATE'] <= fall_end)
maska = (year['FL_DATE'] >= aut_start) & (year['FL_DATE'] <= aut_end)
fall = year.loc[maskf]
aut = year.loc[maska]
fall = fall.append([aut])

In [206]:
season = {"Spring Flights" : len(spring),"Summer Flights" : len(summer),\
                "Fall Flights" : len(fall), "Winter Flights" : len(winter)}

year_info.update({'Seasons': season})

In [208]:
airlines = {}
airline_ct = year['OP_UNIQUE_CARRIER'].value_counts()
airlines.update({'Endeavor Air': airline_ct['9E'], 'American Airlines': airline_ct['AA'], \
                  'Alaska Airlines': airline_ct['AS'], 'JetBlue': airline_ct['B6'], \
                 'Delta Airlines': airline_ct['DL'] , 'ExpressJet': airline_ct['EV'],\
                 'Frontier Airlines': airline_ct['F9'], 'Allegiant Air': airline_ct['G4'],\
                 'Hawaiian Airlines': airline_ct['HA'], 'Envoy Air': airline_ct['MQ'], \
                 'Spirit Airlines': airline_ct['NK'], 'PSA Airlines': airline_ct['OH'],\
                 'SkyWest Airlines': airline_ct['OO'], 'United Airlines': airline_ct['UA'], \
                 'Virgin American': airline_ct['VX'], 'SouthWest Airlines': airline_ct['WN'],\
                 'Mesa Airlines': airline_ct['YV'], 'Republic Airline': airline_ct['YX']})

year_info.update({'Airlines' : airlines})

In [211]:
year_info

{'Total Flights': 6951793,
 'Months': {'January Flights': 570118,
  'February Flights': 520731,
  'March Flights': 611987,
  'April Flights': 596046,
  'May Flights': 616529,
  'June Flights': 626193,
  'July Flights': 645299,
  'August Flights': 644673,
  'September Flights': 585749,
  'October Flights': 616101,
  'November Flights': 454162,
  'December Flights': 464205},
 'Seasons': {'Spring Flights': 1866428,
  'Summer Flights': 1910847,
  'Fall Flights': 1545252,
  'Winter Flights': 1629266},
 'Airlines': {'Endeavor Air': 205728,
  'American Airlines': 909554,
  'Alaska Airlines': 234333,
  'JetBlue': 303722,
  'Delta Airlines': 945194,
  'ExpressJet': 216089,
  'Frontier Airlines': 118871,
  'Allegiant Air': 80908,
  'Hawaiian Airlines': 82904,
  'Envoy Air': 245812,
  'Spirit Airlines': 172771,
  'PSA Airlines': 232630,
  'SkyWest Airlines': 767028,
  'United Airlines': 615683,
  'Virgin American': 30111,
  'SouthWest Airlines': 1347369,
  'Mesa Airlines': 178097,
  'Republic Airline': 264989}}

In [143]:
airline_ct

WN    1347369
DL     945194
AA     909554
OO     767028
UA     615683
B6     303722
YX     264989
MQ     245812
AS     234333
OH     232630
EV     216089
9E     205728
YV     178097
NK     172771
F9     118871
HA      82904
G4      80908
VX      30111
Name: OP_UNIQUE_CARRIER, dtype: int64

In [212]:
airports_ct = year['ORIGIN'].value_counts() #335
airports = {}
for x in range(len(airports_ct)):
    airports.update({airports_ct.keys()[x]: airports_ct[x]})

In [214]:
year_info.update({'Airports' : airports})

In [163]:
airports_ct[-5:]

DLG    84
GST    84
BKG    65
AKN    63
YNG     2
Name: ORIGIN, dtype: int64

In [216]:
year_info

{'Total Flights': 6951793,
 'Months': {'January Flights': 570118,
  'February Flights': 520731,
  'March Flights': 611987,
  'April Flights': 596046,
  'May Flights': 616529,
  'June Flights': 626193,
  'July Flights': 645299,
  'August Flights': 644673,
  'September Flights': 585749,
  'October Flights': 616101,
  'November Flights': 454162,
  'December Flights': 464205},
 'Seasons': {'Spring Flights': 1866428,
  'Summer Flights': 1910847,
  'Fall Flights': 1545252,
  'Winter Flights': 1629266},
 'Airlines': {'Endeavor Air': 205728,
  'American Airlines': 909554,
  'Alaska Airlines': 234333,
  'JetBlue': 303722,
  'Delta Airlines': 945194,
  'ExpressJet': 216089,
  'Frontier Airlines': 118871,
  'Allegiant Air': 80908,
  'Hawaiian Airlines': 82904,
  'Envoy Air': 245812,
  'Spirit Airlines': 172771,
  'PSA Airlines': 232630,
  'SkyWest Airlines': 767028,
  'United Airlines': 615683,
  'Virgin American': 30111,
  'SouthWest Airlines': 1347369,
  'Mesa Airlines': 178097,
  'Republic Airline': 264989},
 'Airports': {'ATL': 383901,
  'ORD': 319079,
  'DFW': 263047,
  'DEN': 233701,
  'LAX': 220291,
  'CLT': 213900,
  'SFO': 176851,
  'PHX': 169916,
  'IAH': 165015,
  'LAS': 159642,
  'LGA': 159241,
  'MSP': 155954,
  'DTW': 152687,
  'BOS': 144653,
  'SEA': 140566,
  'EWR': 139955,
  'MCO': 136568,
  'JFK': 123426,
  'DCA': 121931,
  'SLC': 112677,
  'PHL': 109890,
  'BWI': 106447,
  'FLL': 96117,
  'SAN': 89556,
  'MDW': 87335,
  'MIA': 84750,
  'TPA': 73755,
  'BNA': 71164,
  'DAL': 71090,
  'STL': 64513,
  'PDX': 63435,
  'IAD': 62961,
  'AUS': 62104,
  'HOU': 57132,
  'RDU': 56677,
  'MSY': 55007,
  'MCI': 54143,
  'SJC': 54066,
  'OAK': 52310,
  'HNL': 48917,
  'SMF': 46821,
  'CLE': 46450,
  'PIT': 45547,
  'IND': 45055,
  'CVG': 44841,
  'CMH': 41933,
  'SNA': 41886,
  'SAT': 38716,
  'MKE': 32115,
  'RSW': 31825,
  'JAX': 28745,
  'BDL': 27126,
  'BUR': 26413,
  'OGG': 25321,
  'PBI': 25136,
  'BUF': 24918,
  'OMA': 23777,
  'SJU': 23556,
  'ABQ': 23303,
  'CHS': 22313,
  'OKC': 21963,
  'RIC': 21839,
  'ONT': 21390,
  'MEM': 21331,
  'ORF': 20783,
  'SDF': 20472,
  'BOI': 18981,
  'ANC': 18185,
  'PVD': 18096,
  'RNO': 17623,
  'TUS': 17448,
  'LGB': 17184,
  'BHM': 17131,
  'TUL': 16554,
  'GRR': 15879,
  'ELP': 15774,
  'KOA': 14847,
  'TYS': 14466,
  'SAV': 14438,
  'DSM': 14084,
  'LIH': 13904,
  'ROC': 12911,
  'DAY': 12775,
  'SYR': 12705,
  'MSN': 12357,
  'GEG': 12287,
  'LIT': 12231,
  'GSP': 12218,
  'ALB': 11891,
  'GSO': 11629,
  'XNA': 11290,
  'MYR': 11056,
  'PWM': 10950,
  'FAT': 10654,
  'PNS': 10408,
  'COS': 10309,
  'PSP': 10209,
  'ICT': 10032,
  'MHT': 9384,
  'LEX': 9250,
  'HPN': 9168,
  'CID': 8606,
  'BTV': 8526,
  'MAF': 8251,
  'SFB': 7975,
  'HSV': 7789,
  'SGF': 7755,
  'CHA': 7657,
  'BTR': 7339,
  'VPS': 7275,
  'CAK': 7138,
  'JAN': 7108,
  'FWA': 6852,
  'SBA': 6809,
  'AVL': 6760,
  'ASE': 6686,
  'SBN': 6601,
  'ISP': 6380,
  'SHV': 6348,
  'PIE': 6297,
  'ITO': 6196,
  'MOB': 6111,
  'CAE': 6106,
  'LBB': 6034,
  'MDT': 5867,
  'ILM': 5866,
  'BZN': 5760,
  'FSD': 5721,
  'SRQ': 5648,
  'FAR': 5466,
  'TLH': 5427,
  'ECP': 5287,
  'CHO': 5067,
  'CRP': 5062,
  'AMA': 5015,
  'PIA': 4820,
  'MLI': 4693,
  'MFR': 4598,
  'SBP': 4537,
  'GRB': 4503,
  'JNU': 4431,
  'AZA': 4355,
  'PGD': 4350,
  'FAI': 4290,
  'CRW': 4213,
  'FNT': 4204,
  'RAP': 4161,
  'MFE': 4158,
  'AGS': 4115,
  'BIL': 4099,
  'EVV': 4096,
  'LFT': 4072,
  'EYW': 4071,
  'EUG': 4024,
  'JAC': 4004,
  'GPT': 3947,
  'ATW': 3865,
  'GNV': 3840,
  'TVC': 3808,
  'RDM': 3807,
  'ABE': 3789,
  'MGM': 3746,
  'BGR': 3732,
  'MRY': 3562,
  'GJT': 3504,
  'BIS': 3477,
  'FAY': 3368,
  'DAB': 3312,
  'MSO': 3304,
  'ACY': 3280,
  'AVP': 3243,
  'HRL': 3224,
  'PSC': 3181,
  'LAN': 3175,
  'SGU': 3163,
  'RST': 3123,
  'MLU': 3006,
  'AEX': 3004,
  'BMI': 2955,
  'TRI': 2904,
  'DRO': 2901,
  'MBS': 2804,
  'GRK': 2785,
  'DLH': 2766,
  'OAJ': 2687,
  'PHF': 2572,
  'AZO': 2569,
  'FCA': 2565,
  'CWA': 2547,
  'TTN': 2525,
  'MOT': 2474,
  'KTN': 2433,
  'BRO': 2278,
  'BFL': 2276,
  'MLB': 2264,
  'ROA': 2240,
  'IDA': 2233,
  'STT': 2226,
  'LRD': 2225,
  'LSE': 2151,
  'CLL': 2134,
  'COU': 2090,
  'BLI': 2086,
  'EGE': 2079,
  'FSM': 1984,
  'CMI': 1977,
  'GFK': 1961,
  'LNK': 1859,
  'EWN': 1833,
  'TOL': 1783,
  'HLN': 1780,
  'LCH': 1777,
  'GTF': 1773,
  'BQN': 1770,
  'SWF': 1737,
  'SPI': 1680,
  'ABI': 1678,
  'MHK': 1658,
  'STS': 1634,
  'ISN': 1498,
  'SAF': 1463,
  'MTJ': 1416,
  'ACV': 1394,
  'SCE': 1366,
  'YUM': 1355,
  'SIT': 1347,
  'ACT': 1330,
  'DHN': 1330,
  'SJT': 1278,
  'MQT': 1277,
  'TWF': 1248,
  'PIH': 1246,
  'FLG': 1238,
  'ROW': 1232,
  'SUN': 1225,
  'LAW': 1218,
  'TYR': 1182,
  'RDD': 1111,
  'STX': 1097,
  'MEI': 1094,
  'CSG': 1091,
  'LBE': 1087,
  'ERI': 1033,
  'PLN': 1027,
  'GTR': 1016,
  'TXK': 1009,
  'ITH': 1000,
  'JMS': 983,
  'LCK': 977,
  'HYS': 975,
  'ACK': 972,
  'LYH': 970,
  'SUX': 951,
  'BGM': 941,
  'CPR': 932,
  'HDN': 929,
  'ORH': 902,
  'SCC': 896,
  'BLV': 893,
  'SPS': 886,
  'PGV': 881,
  'BQK': 870,
  'VLD': 864,
  'HVN': 863,
  'GCC': 858,
  'UIN': 856,
  'ABY': 853,
  'BET': 845,
  'DBQ': 836,
  'COD': 827,
  'GRI': 826,
  'USA': 824,
  'PUB': 801,
  'CKB': 785,
  'HTS': 776,
  'PBG': 775,
  'PSE': 763,
  'BJI': 737,
  'IAG': 736,
  'ABR': 734,
  'PIB': 730,
  'BRW': 730,
  'PSG': 726,
  'WRG': 726,
  'CMX': 725,
  'YAK': 724,
  'CDV': 724,
  'RHI': 722,
  'OTZ': 722,
  'OME': 720,
  'EAU': 711,
  'PAH': 711,
  'MKG': 710,
  'BPT': 691,
  'LWS': 689,
  'JLN': 684,
  'HOB': 678,
  'CIU': 674,
  'BTM': 673,
  'RKS': 666,
  'GGG': 656,
  'SWO': 656,
  'IMT': 651,
  'INL': 648,
  'ALO': 645,
  'EKO': 644,
  'ADQ': 635,
  'BRD': 635,
  'SCK': 627,
  'ESC': 625,
  'LAR': 623,
  'DVL': 622,
  'HIB': 622,
  'APN': 621,
  'CDC': 621,
  'GCK': 608,
  'RFD': 572,
  'CGI': 570,
  'SHD': 548,
  'GUM': 545,
  'SLN': 528,
  'MVY': 492,
  'BFF': 470,
  'LWB': 469,
  'LBF': 465,
  'LBL': 458,
  'PVU': 446,
  'HHH': 355,
  'OTH': 344,
  'CNY': 313,
  'ELM': 267,
  'PSM': 250,
  'WYS': 239,
  'GUC': 237,
  'VEL': 219,
  'SPN': 179,
  'FLO': 170,
  'SMX': 135,
  'PPG': 119,
  'PRC': 118,
  'OGS': 118,
  'HGR': 113,
  'STC': 112,
  'OGD': 107,
  'IFP': 106,
  'MMH': 104,
  'ADK': 104,
  'EAR': 97,
  'OWB': 92,
  'HYA': 89,
  'DLG': 84,
  'GST': 84,
  'BKG': 65,
  'AKN': 63,
  'YNG': 2}}

In [217]:
import pickle

In [220]:
outfile = open('yearly_flights.pickle', 'wb')

pickle.dump(year_info, outfile)
outfile.close()